<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/test.css">
</head>

<body>
<div class="header">
    <span class="welcome">小妞妞的小网站～❤️</span>
</div>
<div class="content"></div><br>
<p id="p_1">新鲜事，简单报(2020.12.24)</p>
<div class="news">
    <span id="news_1">
        <ul id="new_things">
            <li>使用css设计了新的版面（增加导航条）</li>
            <li>主页更新（圣诞快乐！）</li>
        </ul>
    </span>
    <span id="news_2">
        <p>Login</p>
        <form id="login" action="/check" method="post">
            <input type="text" name="password" placeholder="input password"><br><br>
            <input type="submit" value="submit">
        </form>
    </span>
</div>
<div id="index_img">
    <span>
        <img src="../static/img/chrismas_2.JPG" height="703" width="527">
    </span>
    <div align=center><a href="http://beian.miit.gov.cn/" target=_blank>桂ICP备2020010172号-1</a></div>
</div>
</body>
</html>