<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="test2.css"/>
	</head>
	<body>
		<div id="background">
			<div id="header">
				<div id="a">
					<span>每日网站</span><br>
					<span>妞妞最爱</span>
					<div>
						<img src="images/me.png">
					</div>
				</div>
				<div id="b">
					<span>网站开设天数</span><br>
					<span>100天</span>
				</div>
			</div>
			
			<div id="content">
				<div id="c_1">
					<div id="c_11">
						<span>c11</span>
					</div>
					<div id="c_12">
						<span>c12</span>
					</div>
				</div>
				<div id="c_2">
					<span>c2</span>
				</div>
			</div>
			
			<div id="day">
				123
			</div>
			<div id="last">
				123
			</div>
			<div id="buttom">
				123
			</div>
		</div>
	</body>
</html>
